#root{
  width: 100%;
}
.banner{
  border: red solid 2px;
  margin-top:-28px;
  height: 85vh;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.banner img {
  width: 100%;
  height: 85vh;
  object-fit: cover;
  border: blue solid 4px
}
.textosBanner{
  position: absolute;
  border: violet solid 3px;
  z-index: 1000;
  top: 40%;
  left: 35%;
  font-size: 30px;
  color: white;
  font-weight: 500;
  text-align: center;
  background: rgba(42, 49, 48, 0.8);
  padding:20px 30px;
  
}
.titularBanner{
  font-size: 20px;
}
.tituloBanner{
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.subtituloBanner{
  font-size: 17px;
  font-style: italic;
}
.textosHome{
  border: green solid 4px;
  max-width: 1300px;
  margin: 80px auto;
  padding: 30px 80px;
  border-radius: 15px;
  background-color: #2491cb;
  color: white
}
.textosHome h2{
  text-align: center;
  margin: 30px;
  color: black;
}
.contactanos{
  text-align: center;
}
.contactanos p{
  text-align:start
}
.contactanos button{
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: white;
  color: #2491cb;
  text-transform: uppercase;
  transition: .3s ease-in-out;
  font-weight: 500;
}
.contactanos button:hover{
  transform: scale(1.08);
  background-color: rgba(42, 49, 48, 0.8);
  color: white;
}
.bannerDesplazable{
  background: url(/public/importainer.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 400px;
}
